/*************************************************
 PLEASE do not make changes directly to the mike-speight.css file, as we are using LESS as a CSS precompiler and mike-speight.css will be overwritten the nex time LESS compiles.
 Pleas make any edits in the corresponding .less file, if you do not understand the LESS syntax do not worry as LESS understands plain CSS

**************************************************/
/* Mixins */
/*************************************************  =Reset Styles Begin 
**************************************************/
/* line 7, scss/_reset.scss */
html { margin: 0; padding: 0; border: 0; }

/* line 8, scss/_reset.scss */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 9, scss/_reset.scss */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display: block; }

/* line 10, scss/_reset.scss */
body { line-height: 1.5; background: white; }

/* line 11, scss/_reset.scss */
table { border-collapse: separate; border-spacing: 0; }

/* line 12, scss/_reset.scss */
caption, th, td { text-align: left; font-weight: normal; float: none !important; }

/* line 13, scss/_reset.scss */
table, th, td { vertical-align: middle; }

/* line 14, scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }

/* line 15, scss/_reset.scss */
blockquote, q { quotes: "" ""; }

/* line 16, scss/_reset.scss */
a img { border: none; }

/* line 17, scss/_reset.scss */
:focus { outline: 0; }

/* line 18, scss/_reset.scss */
img.full { max-width: 100%; }

/* line 19, scss/_reset.scss */
ol, ul { list-style: none; }

/*************************************************  =Grid Styles Begin 
**************************************************/
/* line 7, scss/_grid.scss */
.row { overflow: hidden; *overflow: visible; *zoom: 1; }

/* line 13, scss/_grid.scss */
.col { float: left; }

/* line 14, scss/_grid.scss */
.colRight { float: right; }

/* line 15, scss/_grid.scss */
.size1of1 { float: none; }

/* line 16, scss/_grid.scss */
.size1of2 { width: 50%; }

/* line 17, scss/_grid.scss */
.size1of3 { width: 33.33333%; }

/* line 18, scss/_grid.scss */
.size2of3 { width: 66.66666%; }

/* line 19, scss/_grid.scss */
.size1of4 { width: 25%; }

/* line 20, scss/_grid.scss */
.size3of4 { width: 75%; }

/* line 21, scss/_grid.scss */
.size1of5 { width: 20%; }

/* line 22, scss/_grid.scss */
.size2of5 { width: 40%; }

/* line 23, scss/_grid.scss */
.size3of5 { width: 60%; }

/* line 24, scss/_grid.scss */
.size4of5 { width: 80%; }

/* line 26, scss/_grid.scss */
.lastCol { float: none; width: auto; _position: relative; _left: -3px; _margin-right: -3px; }

/*************************************************  =Colour Pallette Styles Begin 
**************************************************/
/* brand colors */
/* line 8, scss/_palette.scss */
.dk-orange { color: #ffc42e; }

/* line 9, scss/_palette.scss */
.lt-orange { color: #ffd956; }

/* background colors */
/* line 12, scss/_palette.scss */
.dk-orange-bg { color: #ffc42f; }

/* line 13, scss/_palette.scss */
.lt-orange-bg { color: #ffd956; }

/* line 14, scss/_palette.scss */
.dk-bg { color: #333333; }

/* line 15, scss/_palette.scss */
.black { color: black; }

/* line 16, scss/_palette.scss */
.white { color: white; }

/* text colours */
/* line 19, scss/_palette.scss */
.dk-orange-txt { color: #b78a09; }

/* line 20, scss/_palette.scss */
.blk-txt { color: black; }

/* line 21, scss/_palette.scss */
.dk-txt { color: #333333; }

/* line 22, scss/_palette.scss */
.mid-txt { color: #666666; }

/* line 23, scss/_palette.scss */
.lt-txt { color: #999999; }

/* line 24, scss/_palette.scss */
.wht-txt { color: white; }

/* Grays */
/* line 27, scss/_palette.scss */
.lt-gray { color: #c6c6c6; }

/* line 28, scss/_palette.scss */
.mid-gray { color: #747474; }

/* line 29, scss/_palette.scss */
.dk-gray { color: #4b4b4b; }

/* line 30, scss/_palette.scss */
.heavy-gray { color: #414141; }

/*************************************************  =Typography Styles Begin 
**************************************************/
@font-face { font-family: 'OpenSans-Light'; src: url("../assets/fonts/OpenSans-Light.eot"); src: url("../assets/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/OpenSans-Light.woff") format("woff"), url("../assets/fonts/OpenSans-Light.ttf") format("truetype"), url("../assets/fonts/OpenSans-Light.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'FontAwesome'; src: url("../assets/fonts/fontawesome-webfont.eot?v=3.2.1"); src: url("../assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../assets/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../assets/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg"); font-weight: normal; font-style: normal; }

/*  Font Icon styles */
/* line 34, scss/_typography.scss */
.inner a i { color: white; font-family: fontawesome; font-size: 18px; line-height: 24px; font-style: normal; }

/* line 41, scss/_typography.scss */
.inner a:hover i { color: #ffc42e; font-size: 24px; }

/* line 45, scss/_typography.scss */
i.icon-social { font-family: fontawesome; font-size: 24px; font-style: normal; }

/* line 50, scss/_typography.scss */
#menu-switch i { font-family: fontawesome; font-size: 36px; font-style: normal; }

/* line 56, scss/_typography.scss */
.icon-remove-sign:before { content: "\f057"; }

/* line 59, scss/_typography.scss */
.icon-twitter-sign:before { content: "\f081"; }

/* line 62, scss/_typography.scss */
.icon-twitter:before { content: "\f099"; }

/* line 65, scss/_typography.scss */
.icon-facebook-sign:before { content: "\f082"; }

/* line 68, scss/_typography.scss */
.icon-facebook:before { content: "\f09a"; }

/* line 71, scss/_typography.scss */
.icon-google-plus-sign:before { content: "\f0d4"; }

/* line 74, scss/_typography.scss */
.icon-google-plus:before { content: "\f0d5"; }

/* line 77, scss/_typography.scss */
.icon-linkedin-sign:before { content: "\f08c"; }

/* line 80, scss/_typography.scss */
.icon-linkedin:before { content: "\f0e1"; }

/* line 83, scss/_typography.scss */
.icon-envelope:before { content: "\f0e0"; }

/* line 86, scss/_typography.scss */
.icon-external-link:before { content: "\f08e"; }

/* line 89, scss/_typography.scss */
.icon-info:before { content: "\f129"; }

/* line 92, scss/_typography.scss */
.icon-inspect:before { content: "\f002"; }

/* line 95, scss/_typography.scss */
.icon-reorder:before { content: "\f0c9"; }

/* line 98, scss/_typography.scss */
.icon-remove:before { content: "\f00d"; }

/* line 101, scss/_typography.scss */
h2 { font-family: OpenSans-Light; font-size: 44px; }

/*************************************************  =Base Styles Begin 
**************************************************/
/* line 7, scss/_base.scss */
html { font-size: 100%; }

/* line 11, scss/_base.scss */
body { color: #333; background-color: white; font-family: Arial, Helvetica, sans-serif; font-size: 69%; /* 11px */ }

/* line 18, scss/_base.scss */
.clearfix:after { content: "."; /* Older browser do not support empty content */ visibility: hidden; display: block; height: 0; line-height: 0; clear: both; }

/*************************************************  =Layout Styles Begin 
**************************************************/
/* line 8, scss/_layout.scss */
#page-wrapper { width: 100%; }

/* line 12, scss/_layout.scss */
#top-menu-bar { width: 100%; background-color: #ffc42f; position: relative; z-index: 3; }
/* line 17, scss/_layout.scss */
#top-menu-bar nav { width: 100%; height: 85px; margin: 0 auto; overflow: hidden; position: relative; }
/* line 23, scss/_layout.scss */
#top-menu-bar nav .logo { display: inline-block; position: absolute; color: #333333; top: 23px; left: 20px; width: 47px; height: 38px; font-family: OpenSans-Light; font-size: 12px; font-size: 12px; text-transform: uppercase; line-height: 12px; text-decoration: none; }
/* line 37, scss/_layout.scss */
#top-menu-bar nav .logo span { display: block; }
/* line 40, scss/_layout.scss */
#top-menu-bar nav .logo .first { letter-spacing: 5px; }
/* line 43, scss/_layout.scss */
#top-menu-bar nav .logo .second { letter-spacing: 1px; color: white; }
/* line 47, scss/_layout.scss */
#top-menu-bar nav .logo .third { letter-spacing: 3px; }
/* line 51, scss/_layout.scss */
#top-menu-bar nav .main-nav { position: absolute; top: 35px; right: 20px; list-style: none; }
/* line 56, scss/_layout.scss */
#top-menu-bar nav .main-nav li { display: inline-block; margin-left: 20px; }
/* line 59, scss/_layout.scss */
#top-menu-bar nav .main-nav li a { color: #333333; font-family: OpenSans-Light; font-size: 12px; text-transform: uppercase; letter-spacing: 4px; line-height: 1.5; text-align: center; text-decoration: none; }
/* line 69, scss/_layout.scss */
#top-menu-bar nav .main-nav li a:hover { color: white; }

/* line 77, scss/_layout.scss */
html.os-iPad #fixed-menu nav .logo { border: 2px solid red; }

/* line 81, scss/_layout.scss */
#fixed-menu { width: 100%; position: fixed; top: 0; z-index: 2; background-color: white; }
/* line 87, scss/_layout.scss */
#fixed-menu nav { width: 100%; height: 85px; margin: 0 auto; overflow: hidden; position: relative; }
/* line 93, scss/_layout.scss */
#fixed-menu nav .logo { display: inline-block; position: absolute; color: #333333; top: 23px; left: 20px; width: 47px; height: 38px; font-family: OpenSans-Light; font-size: 12px; font-size: 12px; text-transform: uppercase; line-height: 12px; text-decoration: none; }
/* line 107, scss/_layout.scss */
#fixed-menu nav .logo span { display: block; }
/* line 110, scss/_layout.scss */
#fixed-menu nav .logo .first { letter-spacing: 5px; }
/* line 113, scss/_layout.scss */
#fixed-menu nav .logo .second { letter-spacing: 1px; color: #ffc42e; }
/* line 117, scss/_layout.scss */
#fixed-menu nav .logo .third { letter-spacing: 3px; }
/* line 121, scss/_layout.scss */
#fixed-menu nav #menu-switch { position: absolute; top: 20px; right: 20px; width: 40px; height: 40px; display: none; cursor: pointer; }
/* line 129, scss/_layout.scss */
#fixed-menu nav #menu-switch i { cursor: pointer; }
/* line 134, scss/_layout.scss */
#fixed-menu nav #menu-switch:hover i { color: #ffc42e; }
/* line 138, scss/_layout.scss */
#fixed-menu nav .main-nav { position: absolute; top: 35px; right: 20px; list-style: none; }
/* line 143, scss/_layout.scss */
#fixed-menu nav .main-nav li { display: inline-block; margin-left: 20px; }
/* line 146, scss/_layout.scss */
#fixed-menu nav .main-nav li a { color: #333333; font-family: OpenSans-Light; font-size: 12px; text-transform: uppercase; letter-spacing: 4px; line-height: 1.5; text-align: center; text-decoration: none; }
/* line 156, scss/_layout.scss */
#fixed-menu nav .main-nav li a:hover { color: #ffc42e; }
/* line 161, scss/_layout.scss */
#fixed-menu nav .mobile-nav { clear: both; }
/* line 163, scss/_layout.scss */
#fixed-menu nav .mobile-nav li { display: block; /*margin-left: 20px;*/ padding: 2px 0 0 20px; border-bottom: 1px solid #c6c6c6; }
/* line 168, scss/_layout.scss */
#fixed-menu nav .mobile-nav li a { color: #333333; font-family: OpenSans-Light; font-size: 12px; text-transform: uppercase; letter-spacing: 4px; line-height: 1.5; text-align: center; text-decoration: none; }
/* line 178, scss/_layout.scss */
#fixed-menu nav .mobile-nav li a:hover { color: #ffc42e; }
/* line 182, scss/_layout.scss */
#fixed-menu nav .mobile-nav li:last-child { margin-bottom: 2px; }

/* line 189, scss/_layout.scss */
#mobile { display: none; }

/* line 193, scss/_layout.scss */
#hero { width: 100%; position: relative; }
/* line 196, scss/_layout.scss */
#hero .inner { margin: 0 auto; width: 100%; height: 560px; background: transparent url("../assets/images/orange-pattern.png") 0 0 repeat; position: relative; }

/* line 204, scss/_layout.scss */
.cycled { list-style: none; }
/* line 206, scss/_layout.scss */
.cycled li { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: visible; }

/* line 216, scss/_layout.scss */
.cycled li div h2 { color: #FFFFFF; text-transform: uppercase; font-family: OpenSans-Light; font-size: 44px; font-weight: bold; letter-spacing: 2px; line-height: 100px; }
/* line 224, scss/_layout.scss */
.cycled li div h2 i { color: #ffc42f; font-style: normal; }

/* line 230, scss/_layout.scss */
#technologies { width: 100%; margin: 75px auto 0; }
/* line 233, scss/_layout.scss */
#technologies h3 { text-transform: uppercase; font-family: OpenSans-Light; text-align: center; font-size: 24px; font-weight: bold; letter-spacing: 2px; margin: 20px 0; }
/* line 242, scss/_layout.scss */
#technologies p { margin: 20px 0; font-size: 12px; }

/* line 248, scss/_layout.scss */
#technology-panel { position: relative; width: 100%; height: 280px; background: url("../assets/images/technologies-bg.jpg") 0 0 repeat-y; background-size: 100%; margin-top: 75px; }
/* line 255, scss/_layout.scss */
#technology-panel .inner { height: 100%; background-color: #000; opacity: 0.60; }
/* line 260, scss/_layout.scss */
#technology-panel .inner:after { background: transparent url("../assets/images/orange-pattern.png") 0 0 repeat; content: " "; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 0; }
/* line 270, scss/_layout.scss */
#technology-panel ul { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; }
/* line 277, scss/_layout.scss */
#technology-panel ul li { height: 100%; width: 33%; float: left; }
/* line 281, scss/_layout.scss */
#technology-panel ul li h4 { color: white; font-family: OpenSans-Light; font-weight: bold; font-size: 24px; margin-top: 10px; }
/* line 289, scss/_layout.scss */
#technology-panel ul li.html { background: url("../assets/images/HTML5.png") 50% 50% no-repeat; }
/* line 292, scss/_layout.scss */
#technology-panel ul li.js { background: url("../assets/images/js.png") 50% 50% no-repeat; }
/* line 295, scss/_layout.scss */
#technology-panel ul li.css { background: url("../assets/images/CSS3.png") 50% 50% no-repeat; }

/* line 301, scss/_layout.scss */
#social-links { width: 100%; margin: 20px auto; text-align: center; }
/* line 305, scss/_layout.scss */
#social-links ul { width: 100%; text-align: center; overflow: hidden; }
/* line 309, scss/_layout.scss */
#social-links ul li { float: left; width: 20%; }
/* line 312, scss/_layout.scss */
#social-links ul li a { text-decoration: none; text-transform: uppercase; font-family: OpenSans-Light; color: #333; }
/* line 317, scss/_layout.scss */
#social-links ul li a span { display: inline-block; width: 34px; height: 34px; background-color: transparent; }
/* line 323, scss/_layout.scss */
#social-links ul li a h4 { color: white; }
/* line 329, scss/_layout.scss */
#social-links ul li a:hover span i { color: #ffc42e; }
/* line 333, scss/_layout.scss */
#social-links ul li a:hover h4 { color: #333333; }

/* line 341, scss/_layout.scss */
#container { text-align: center; }
/* line 343, scss/_layout.scss */
#container a { color: #ffc42e; text-decoration: none; }
/* line 347, scss/_layout.scss */
#container a:hover { text-decoration: underline; }
/* line 350, scss/_layout.scss */
#container footer { background-color: #ffc42f; height: 60px; margin-top: 30px; }
/* line 354, scss/_layout.scss */
#container footer p { line-height: 60px; font-family: OpenSans-Light; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; font-size: 12px; }
/* line 361, scss/_layout.scss */
#container footer p span { color: white; font-size: 14px; }

/* Portfolio page styles */
/* line 371, scss/_layout.scss */
#portfolio { margin: 0 auto; width: 100%; }
/* line 375, scss/_layout.scss */
#portfolio h2 { margin: 20px 0; }
/* line 378, scss/_layout.scss */
#portfolio p { margin: 20px 0; font-size: 12px; }

/* line 385, scss/_layout.scss */
#portfolio-panel ul { overflow: hidden; width: 960px; margin: 20px auto; }
/* line 389, scss/_layout.scss */
#portfolio-panel ul li { float: left; width: 320px; height: 330px; }
/* line 393, scss/_layout.scss */
#portfolio-panel ul li .img { width: 100%; height: 220px; background-color: beige; }
/* line 398, scss/_layout.scss */
#portfolio-panel ul li a.text { display: block; height: 110px; background-color: white; font-family: OpenSans-Light; color: #333; text-decoration: none; text-transform: uppercase; padding-top: 40px; }
/* line 407, scss/_layout.scss */
#portfolio-panel ul li a.text h3 { font-family: OpenSans-Light; font-size: 14px; text-align: center; }
/* line 414, scss/_layout.scss */
#portfolio-panel ul li:hover a.text { background-color: #ffc42e; color: white; }

/* line 423, scss/_layout.scss */
li div.img .popup { display: none; }
/* line 426, scss/_layout.scss */
li div.img .inner { display: none; text-align: left; padding: 5px; }
/* line 430, scss/_layout.scss */
li div.img .inner a { cursor: pointer; display: block; width: 25px; float: left; }
/* line 436, scss/_layout.scss */
li div.img .inner a:hover { text-decoration: none; }
/* line 438, scss/_layout.scss */
li div.img .inner a:hover i { text-decoration: none; }
/* line 442, scss/_layout.scss */
li div.img .inner a.inspect { float: left; }
/* line 445, scss/_layout.scss */
li div.img .inner a.info { margin-left: 10px; }
/* line 448, scss/_layout.scss */
li div.img .inner a.visit { float: right; }
/* line 451, scss/_layout.scss */
li div.img .inner i { padding: 5px; }
/* line 454, scss/_layout.scss */
li div.img .inner i.external-link { margin-right: 5px; }
/* line 460, scss/_layout.scss */
li div:hover.img .inner { display: block; background-color: rgba(0, 0, 0, 0.5); height: 100%; }

/* line 468, scss/_layout.scss */
div.ui-dialog { position: relative; }
/* line 470, scss/_layout.scss */
div.ui-dialog .sliderDiag { padding-top: 30px; }
/* line 474, scss/_layout.scss */
div.ui-dialog.infoDialog, div.ui-dialog.sliderDialog { background-color: #333333; color: #ffc42e; }
/* line 475, scss/_layout.scss */
div.ui-dialog.infoDialog .ui-dialog-titlebar, div.ui-dialog.sliderDialog .ui-dialog-titlebar { display: none; }
/* line 481, scss/_layout.scss */
div.ui-dialog.ui-widget-content { border: none; color: #ffc42e; }
/* line 485, scss/_layout.scss */
div.ui-dialog .ui-dialog-content { overflow: hidden; }

/* line 490, scss/_layout.scss */
div.ui-widget-content { color: white; padding: 10px; }
/* line 494, scss/_layout.scss */
div.ui-widget-content a.closeInfo, div.ui-widget-content a.closeSlider { color: #ffc42e; display: block; width: 27px; height: 27px; position: absolute; z-index: 1; top: -5px; right: -6px; cursor: pointer; }
/* line 504, scss/_layout.scss */
div.ui-widget-content a.closeInfo i, div.ui-widget-content a.closeSlider i { font-family: fontawesome; font-size: 24px; font-style: normal; }
/* line 510, scss/_layout.scss */
div.ui-widget-content h3 { font-weight: bold; font-size: 14px; }
/* line 514, scss/_layout.scss */
div.ui-widget-content table { width: 100%; }
/* line 517, scss/_layout.scss */
div.ui-widget-content table th, div.ui-widget-content table td { padding: 5px; vertical-align: top; }
/* line 521, scss/_layout.scss */
div.ui-widget-content table th { border-right: 1px solid #ffc42e; border-bottom: 1px solid #ffc42e; width: 30%; }
/* line 526, scss/_layout.scss */
div.ui-widget-content table td { border-bottom: 1px solid #ffc42e; }
/* line 528, scss/_layout.scss */
div.ui-widget-content table td a { color: white; text-decoration: none; }
/* line 532, scss/_layout.scss */
div.ui-widget-content table td a:hover { color: #b78a09; text-decoration: underline; }
/* line 536, scss/_layout.scss */
div.ui-widget-content table td ol { list-style-type: decimal; list-style-position: outside; margin-left: 20px; }
/* line 540, scss/_layout.scss */
div.ui-widget-content table td ol li { padding-left: 10px; }
/* line 544, scss/_layout.scss */
div.ui-widget-content table td span { display: inline-block; }
/* line 549, scss/_layout.scss */
div.ui-widget-content table tr:last-child th, div.ui-widget-content table tr:last-child td { border-bottom: none; }

/* line 556, scss/_layout.scss */
div#dialogs { display: none; }

/* line 561, scss/_layout.scss */
li.bidonthis .img { background: transparent url("../assets/images/bidonthis-bw-thumb.jpg") 0 0 no-repeat; }

/* line 564, scss/_layout.scss */
li:hover.bidonthis .img { background: transparent url("../assets/images/bidonthis-thumb.jpg") 0 0 no-repeat; }

/* line 568, scss/_layout.scss */
li.market .img { background: transparent url("../assets/images/market-bw-thumb.jpg") 0 0 no-repeat; }

/* line 571, scss/_layout.scss */
li:hover.market .img { background: transparent url("../assets/images/market-thumb.jpg") 0 0 no-repeat; }

/* line 575, scss/_layout.scss */
li.Hotels4u .img { background: transparent url("../assets/images/Hotels4u-bw-thumb.jpg") 0 0 no-repeat; }

/* line 578, scss/_layout.scss */
li:hover.Hotels4u .img { background: transparent url("../assets/images/Hotels4u-thumb.jpg") 0 0 no-repeat; }

/* line 582, scss/_layout.scss */
li.pearson .img { background: transparent url("../assets/images/pearson-bw-thumb.jpg") 0 0 no-repeat; }

/* line 585, scss/_layout.scss */
li:hover.pearson .img { background: transparent url("../assets/images/pearson-thumb.jpg") 0 0 no-repeat; }

/* line 589, scss/_layout.scss */
li.loreal .img { background: transparent url("../assets/images/loreal-bw-thumb.jpg") 0 0 no-repeat; }

/* line 592, scss/_layout.scss */
li:hover.loreal .img { background: transparent url("../assets/images/loreal-thumb.jpg") 0 0 no-repeat; }

/* line 596, scss/_layout.scss */
li.sportlabs .img { background: transparent url("../assets/images/sportlabs-bw-thumb.jpg") 0 0 no-repeat; }

/* line 599, scss/_layout.scss */
li:hover.sportlabs .img { background: transparent url("../assets/images/sportlabs-thumb.jpg") 0 0 no-repeat; }

/* line 603, scss/_layout.scss */
li.rafclub .img { background: transparent url("../assets/images/raf-club-bw-thumb.jpg") 0 0 no-repeat; }

/* line 606, scss/_layout.scss */
li:hover.rafclub .img { background: transparent url("../assets/images/raf-club-thumb.jpg") 0 0 no-repeat; }

/* line 610, scss/_layout.scss */
li.thorntons .img { background: transparent url("../assets/images/thorntons-bw-thumb.jpg") 0 0 no-repeat; }

/* line 613, scss/_layout.scss */
li:hover.thorntons .img { background: transparent url("../assets/images/thorntons-thumb.jpg") 0 0 no-repeat; }

/* line 617, scss/_layout.scss */
li.tesco .img { background: transparent url("../assets/images/tesco-bw-thumb.jpg") 0 0 no-repeat; }

/* line 620, scss/_layout.scss */
li:hover.tesco .img { background: transparent url("../assets/images/tesco-thumb.jpg") 0 0 no-repeat; }

/* line 624, scss/_layout.scss */
li.hhGlobal .img { background: transparent url("../assets/images/hhglobal-bw-thumb.jpg") 0 0 no-repeat; }

/* line 627, scss/_layout.scss */
li:hover.hhGlobal .img { background: transparent url("../assets/images/hhglobal-thumb.jpg") 0 0 no-repeat; }

/* line 631, scss/_layout.scss */
li.asos .img { background: transparent url("../assets/images/asos-bw-thumb.jpg") 0 0 no-repeat; }

/* line 634, scss/_layout.scss */
li:hover.asos .img { background: transparent url("../assets/images/asos-thumb.jpg") 0 0 no-repeat; }

/* line 638, scss/_layout.scss */
li.mwmw .img { background: transparent url("../assets/images/mwmw-bw-thumb.jpg") 0 0 no-repeat; }

/* line 641, scss/_layout.scss */
li:hover.mwmw .img { background: transparent url("../assets/images/mwmw-thumb.jpg") 0 0 no-repeat; }

/* line 645, scss/_layout.scss */
li.macmillan .img { background: transparent url("../assets/images/macmillan-bw-thumb.jpg") 0 0 no-repeat; }

/* line 648, scss/_layout.scss */
li:hover.macmillan .img { background: transparent url("../assets/images/macmillan-thumb.jpg") 0 0 no-repeat; }

/* About page styles */
/* line 654, scss/_layout.scss */
#aboutContent { text-align: left; width: 100%; margin: 75px auto 0; padding: 0 20px; }
/* line 659, scss/_layout.scss */
#aboutContent h3 { text-transform: uppercase; font-family: OpenSans-Light; text-align: center; font-size: 24px; font-weight: bold; letter-spacing: 2px; text-align: left; margin: 20px 0; }
/* line 669, scss/_layout.scss */
#aboutContent h4 { font-size: 18px; }
/* line 672, scss/_layout.scss */
#aboutContent h5 { font-size: 14px; font-weight: bold; margin-bottom: -15px; }
/* line 677, scss/_layout.scss */
#aboutContent p { margin: 20px 0; font-size: 12px; }
/* line 681, scss/_layout.scss */
#aboutContent .two-col { -moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; }

/* Contact page styles */
/* line 690, scss/_layout.scss */
#contactContent { text-align: left; width: 100%; margin: 75px auto 0; }
/* line 694, scss/_layout.scss */
#contactContent h3 { text-transform: uppercase; font-family: OpenSans-Light; text-align: center; font-size: 24px; font-weight: bold; letter-spacing: 2px; text-align: left; margin: 20px 0; padding: 0 20px; }
/* line 705, scss/_layout.scss */
#contactContent h4 { font-size: 18px; padding: 0 20px; }
/* line 709, scss/_layout.scss */
#contactContent h5 { font-size: 14px; font-weight: bold; margin-bottom: -15px; padding: 0 20px; }
/* line 715, scss/_layout.scss */
#contactContent p { margin: 20px 0; font-size: 12px; padding: 0 20px; }
/* line 720, scss/_layout.scss */
#contactContent .two-col { -moz-column-count: 2; -moz-column-gap: 20px; -webkit-column-count: 2; -webkit-column-gap: 20px; padding: 0 20px; }

/* line 729, scss/_layout.scss */
#contactForm { padding: 0 20px; }
/* line 731, scss/_layout.scss */
#contactForm .form-row { margin: 20px 0; clear: left; width: 100%; }
/* line 735, scss/_layout.scss */
#contactForm .form-row label { display: none; padding: 3px 0; }
/* line 739, scss/_layout.scss */
#contactForm .form-row input { padding: 5px; font-family: OpenSans-Light; font-size: 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); width: 75%; border: 1px solid #c6c6c6; }
/* line 748, scss/_layout.scss */
#contactForm .form-row textarea { padding: 5px; font-family: OpenSans-Light; font-size: 12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); width: 75%; border: 1px solid #c6c6c6; }
/* line 757, scss/_layout.scss */
#contactForm .form-row ul.checkboxGroup { clear: left; overflow: hidden; width: 75%; }
/* line 761, scss/_layout.scss */
#contactForm .form-row ul.checkboxGroup li { width: 50%; float: left; }
/* line 764, scss/_layout.scss */
#contactForm .form-row ul.checkboxGroup li label { display: inline-block; width: 75%; }
/* line 768, scss/_layout.scss */
#contactForm .form-row ul.checkboxGroup li input[type="radio"] { width: auto; margin-right: 10px; box-shadow: none; }

/* line 780, scss/_layout.scss */
ul .button-row { margin: 20px 0; }
/* line 782, scss/_layout.scss */
ul .button-row button { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ffd956; /* Old browsers */ background: -moz-linear-gradient(top, #ffd956 0%, #ffc42f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd956), color-stop(100%, #ffc42f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffd956 0%, #ffc42f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffd956 0%, #ffc42f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffd956 0%, #ffc42f 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffd956 0%, #ffc42f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */ -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.5); border-top: 1px solid #ffc42f; border-left: 1px solid #ffc42f; border-right: 1px solid #ffc42f; border-bottom: 1px solid #ffc42f; text-shadow: 1px 1px 1px #747474; padding: 10px; color: white; font-weight: bold; cursor: pointer; }
/* line 793, scss/_layout.scss */
ul .button-row button:hover { background: #ffc42f; /* Old browsers */ background: -moz-linear-gradient(top, #ffc42f 0%, #ffd956 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc42f), color-stop(100%, #ffd956)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffc42f 0%, #ffd956 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffc42f 0%, #ffd956 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffc42f 0%, #ffd956 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffc42f 0%, #ffd956 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */ }

/* success styles */
/* line 802, scss/_layout.scss */
#download a { font-size: 14px; display: inline-block; color: #333333; height: 32px; line-height: 32px; padding-right: 40px; margin-bottom: 10px; }
/* line 810, scss/_layout.scss */
#download a.pdf { background: transparent url("../assets/images/PDF-Icon-32.png") 100% 0 no-repeat; }
/* line 813, scss/_layout.scss */
#download a.doc { background: transparent url("../assets/images/Word-2013-Icon-32.png") 100% 0 no-repeat; }
/* line 817, scss/_layout.scss */
#download a:hover { color: #ffc42e; }

/**
*
*  Initiate media queries
*
**/
/* line 170, scss/_media-queries.scss */
#page-wrapper {  /* @include iPhone6-portrait-only { width: $mq-iPhone-6-portrait;
 }*/ }
@media only screen and (min-width: 769px) and (max-width: 1024px) { /* line 170, scss/_media-queries.scss */
  #page-wrapper { width: 1024px; } }
@media only screen and (max-width: 1024px) { /* line 181, scss/_media-queries.scss */
  #page-wrapper #portfolio-panel ul li a.text { background-color: #ffc42e !important; color: white !important; height: 68px; }
  /* line 193, scss/_media-queries.scss */
  #page-wrapper li div.inner { display: block; height: 12%; background-color: rgba(0, 0, 0, 0.5); }
  /* line 200, scss/_media-queries.scss */
  #page-wrapper li.loreal .img { background: transparent url("../assets/images/loreal-thumb.jpg") 0 0 no-repeat; }
  /* line 204, scss/_media-queries.scss */
  #page-wrapper li.sportlabs .img { background: transparent url("../assets/images/sportlabs-thumb.jpg") 0 0 no-repeat; }
  /* line 208, scss/_media-queries.scss */
  #page-wrapper li.rafclub .img { background: transparent url("../assets/images/raf-club-thumb.jpg") 0 0 no-repeat; }
  /* line 212, scss/_media-queries.scss */
  #page-wrapper li.thorntons .img { background: transparent url("../assets/images/thorntons-thumb.jpg") 0 0 no-repeat; }
  /* line 216, scss/_media-queries.scss */
  #page-wrapper li.tesco .img { background: transparent url("../assets/images/tesco-thumb.jpg") 0 0 no-repeat; }
  /* line 220, scss/_media-queries.scss */
  #page-wrapper li.hhGlobal .img { background: transparent url("../assets/images/hhglobal-thumb.jpg") 0 0 no-repeat; }
  /* line 224, scss/_media-queries.scss */
  #page-wrapper li.asos .img { background: transparent url("../assets/images/asos-thumb.jpg") 0 0 no-repeat; }
  /* line 228, scss/_media-queries.scss */
  #page-wrapper li.mwmw .img { background: transparent url("../assets/images/mwmw-thumb.jpg") 0 0 no-repeat; }
  /* line 232, scss/_media-queries.scss */
  #page-wrapper li.macmillan .img { background: transparent url("../assets/images/macmillan-thumb.jpg") 0 0 no-repeat; }
  /* line 236, scss/_media-queries.scss */
  #page-wrapper #aboutContent { padding: 0 20px; }
  /* line 242, scss/_media-queries.scss */
  #page-wrapper #portfolio, #page-wrapper #aboutContent, #page-wrapper #contactContent { width: auto; } }
@media only screen and (min-width: 481px) and (max-width: 768px) { /* line 170, scss/_media-queries.scss */
  #page-wrapper { width: 768px; }
  /* line 250, scss/_media-queries.scss */
  #page-wrapper #hero { height: 448px; }
  /* line 252, scss/_media-queries.scss */
  #page-wrapper #hero .inner { height: 448px; }
  /* line 257, scss/_media-queries.scss */
  #page-wrapper #portfolio-panel ul { width: 640px; } }
@media only screen and (max-width: 768px) { /* line 265, scss/_media-queries.scss */
  #page-wrapper #top-menu-bar { visibility: hidden; }
  /* line 271, scss/_media-queries.scss */
  #page-wrapper #fixed-menu nav #menu-switch { display: block; }
  /* line 274, scss/_media-queries.scss */
  #page-wrapper #fixed-menu nav .main-nav { display: none; }
  /* line 279, scss/_media-queries.scss */
  #page-wrapper #fixed-menu nav .mobile-nav li a { font-size: 24px; }
  /* line 286, scss/_media-queries.scss */
  #page-wrapper #contactContent { padding: 0 20px; }
  /* line 291, scss/_media-queries.scss */
  #page-wrapper #aboutContent h3, #page-wrapper #aboutContent h4, #page-wrapper #aboutContent h5 { padding: 0 20px; }
  /* line 294, scss/_media-queries.scss */
  #page-wrapper #aboutContent .two-col { -moz-column-count: 1; -webkit-column-count: 1; padding: 0 20px; } }
@media only screen and (min-width: 321px) and (max-width: 480px) { /* line 170, scss/_media-queries.scss */
  #page-wrapper { width: 480px; /*#hero {
height: 280px; .inner { height: 280px; h2 { font-size: 36px; line-height: 48px; } }
}*/ }
  /* line 317, scss/_media-queries.scss */
  #page-wrapper #portfolio-panel ul { width: 320px; } }
@media (max-width: 320px) { /* line 170, scss/_media-queries.scss */
  #page-wrapper { width: 320px; /*    @include retina { width: 640px; color:red; }*/ }
  /* line 325, scss/_media-queries.scss */
  #page-wrapper #hero { height: 187px; }
  /* line 327, scss/_media-queries.scss */
  #page-wrapper #hero .inner { height: 187px; }
  /* line 329, scss/_media-queries.scss */
  #page-wrapper #hero .inner h2 { font-size: 24px; line-height: 36px; }
  /* line 335, scss/_media-queries.scss */
  #page-wrapper #technologies { margin-top: 25px; }
  /* line 337, scss/_media-queries.scss */
  #page-wrapper #technologies h3 { font-size: 18px; }
  /* line 340, scss/_media-queries.scss */
  #page-wrapper #technologies p { margin: 20px; }
  /* line 343, scss/_media-queries.scss */
  #page-wrapper #technologies #technology-panel { height: 715px; }
  /* line 346, scss/_media-queries.scss */
  #page-wrapper #technologies #technology-panel ul li { float: none; margin: 20px auto; height: 210px; background-position: 50% 40px; }
  /* line 356, scss/_media-queries.scss */
  #page-wrapper #social-links ul { text-align: center; }
  /* line 358, scss/_media-queries.scss */
  #page-wrapper #social-links ul li { float: none; display: inline-block; width: 100px; }
  /* line 365, scss/_media-queries.scss */
  #page-wrapper #portfolio { padding-left: 0; padding-right: 0; }
  /* line 370, scss/_media-queries.scss */
  #page-wrapper #portfolio-panel ul { width: 320px; }
  /* line 374, scss/_media-queries.scss */
  #page-wrapper footer { height: 100%; }
  /* line 376, scss/_media-queries.scss */
  #page-wrapper footer p { padding: 0 20px; line-height: 24px; } }

/* Only iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { /*  #page-wrapper { width: 320px; } div#hero { .inner { height: 560px; } } #top-menu-bar { visibility: hidden; } #fixed-menu { nav { #menu-switch { display: block; } .main-nav { display: none; } .mobile-nav { li { a { font-size: 24px; } } } } } #technologies h3 { font-size: 16px; } .cycled li div h2 { font-size: 24px; line-height: 48px; top:30px; }*/ }
/************************************
*
* Media queries for iPhone 6 and iPhone 6+
*
************************************/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) { /* line 13, scss/_iphone6.scss */
  #page-wrapper { width: 667px; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) { /* line 24, scss/_iphone6.scss */
  #page-wrapper { width: 375px; }
  /* line 27, scss/_iphone6.scss */
  #hero { height: 219px; }
  /* line 29, scss/_iphone6.scss */
  #hero .inner { height: 219px; }
  /* line 31, scss/_iphone6.scss */
  #hero .inner h2 { font-size: 24px; line-height: 36px; }
  /* line 37, scss/_iphone6.scss */
  #top-menu-bar { visibility: hidden; }
  /* line 42, scss/_iphone6.scss */
  #fixed-menu nav #menu-switch { display: block; }
  /* line 45, scss/_iphone6.scss */
  #fixed-menu nav .main-nav { display: none; }
  /* line 50, scss/_iphone6.scss */
  #fixed-menu nav .mobile-nav li a { font-size: 24px; }
  /* line 57, scss/_iphone6.scss */
  #technologies { margin-top: 25px; }
  /* line 59, scss/_iphone6.scss */
  #technologies h3 { font-size: 18px; }
  /* line 62, scss/_iphone6.scss */
  #technologies p { margin: 20px; }
  /* line 65, scss/_iphone6.scss */
  #technologies #technology-panel { height: 715px; }
  /* line 68, scss/_iphone6.scss */
  #technologies #technology-panel ul li { float: none; margin: 20px auto; height: 210px; background-position: 50% 40px; }
  /* line 78, scss/_iphone6.scss */
  #social-links ul { text-align: center; }
  /* line 80, scss/_iphone6.scss */
  #social-links ul li { float: none; display: inline-block; width: 100px; }
  /* line 87, scss/_iphone6.scss */
  #portfolio { padding-left: 0; padding-right: 0; }
  /* line 92, scss/_iphone6.scss */
  #portfolio-panel ul { width: 320px; }
  /* line 96, scss/_iphone6.scss */
  footer { height: 100%; }
  /* line 98, scss/_iphone6.scss */
  footer p { padding: 0 20px; line-height: 24px; } }
