/*************************************************
    
    =Colour Pallette Styles Begin
    
**************************************************/

/* brand colors */
$dk-orange:#ffc42e;      .dk-orange {color:$dk-orange;}
$lt-orange:#ffd956;      .lt-orange {color:$lt-orange;}

/* background colors */
$dk-orange-bg:#ffc42f;      .dk-orange-bg {color:$dk-orange-bg;}
$lt-orange-bg:#ffd956;      .lt-orange-bg {color:$lt-orange-bg;}
$vlt-orange-bg: lighten($lt-orange-bg,20%)    ;
$dk-bg: #333333;           .dk-bg {color: $dk-bg;}
$black: #000000;            .black {color: $black;}
$white: #ffffff;            .white {color: $white;}

/* text colours */
$dk-orange-txt: #b78a09;    .dk-orange-txt {color: $dk-orange-txt;}
$blk-txt: #000000;          .blk-txt {color: $blk-txt;}
$dk-txt: #333333;           .dk-txt {color: $dk-txt;}
$mid-txt: #666666;          .mid-txt {color: $mid-txt;}
$lt-txt: #999999;           .lt-txt {color: $lt-txt;}
$wht-txt: #ffffff;          .wht-txt {color: $wht-txt;}

/* Grays */
$lt-gray: #c6c6c6;          .lt-gray {color: $lt-gray;}
$mid-gray: #747474;         .mid-gray {color: $mid-gray;}
$dk-gray: #4b4b4b;          .dk-gray {color: $dk-gray;}
$heavy-gray: #414141;       .heavy-gray {color: $heavy-gray;}


