
<script type="text/javascript" src="scripts/examples.js"></script><!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mike Speight, frontend/UI Developer, On-Line Portfolio</title>
    <meta name="description" content="This is the on-line portfolio of Mike Speight,
    Mike is a freelance Frontend/UI Developer and Web Consultant based in Lingfield,
    Surrey in the South east of England.">

    <link type="image/x-icon" href="assets/images/favicon.ico?" rel="icon">

    <!-- Google webmaster tools meta tag DO NOT REMOVE -->
    <meta name="google-site-verification" content="DFziy1QnQYQdvfn4rC4yOmOuS1_naBC15bHg29oLLJ8" />

    <link href="css/mike-speight.css" rel="stylesheet" />
    <link href="css/animate.css" rel="stylesheet" />
    <link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="css/flexslider.css" rel="stylesheet" />
    <link href="css/jquery.sidr.light.css" rel="stylesheet" />

    <script type="text/javascript" src="./scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="./scripts/jquery-ui-1.10.2/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="./scripts/jquery.sidr.js"></script>
    <script type="text/javascript" src="./scripts/jquery.flexslider.js"></script>
    <script type="text/javascript" src="./scripts/underscore-min.js"></script>
    <script type="text/javascript" src="./scripts/modernizr-latest-development.js"></script>
    <script type="text/javascript" src="scripts/examples.js"></script>
    <script type="text/javascript" src="./scripts/online-portfolio.js"></script>


</head>
<body>
    <div id="page-wrapper">
        <div id="top-menu-bar">
            <nav>
                <a href="./" class="logo"><span class="first">mike-</span><span class="second">speight</span><span class="third">.co.uk</span></a>
                <ul class="main-nav">
                    <li class="menu-item">
                        <span><a href="index.html">Home</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="portfolio.html">Portfolio</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="about.html">About</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="contact.html">Contact</a></span>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="fixed-menu">
            <nav>
                <a href="./" class="logo"><span class="first">mike-</span><span class="second">speight</span><span class="third">.co.uk</span></a>
                <span id="menu-switch"><a><i class="icon icon-reorder"></i></a></span>
                <ul class="main-nav">
                    <li class="menu-item">
                        <span><a href="index.html">Home</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="portfolio.html">Portfolio</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="about.html">About</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="contact.html">Contact</a></span>
                    </li>
                </ul>
            </nav>
            <nav id="mobile">
                <ul class="mobile-nav">
                    <li class="menu-item">
                        <span><a href="index.html">Home</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="portfolio.html">Portfolio</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="about.html">About</a></span>
                    </li>
                    <li class="menu-item">
                        <span><a href="contact.html">Contact</a></span>
                    </li>
                </ul>
            </nav>
        </div>
        <section id="container">
            <section id="portfolio">
                <!--<h2>Welcome to my On-line Portfolio</h2>-->

                <div id="portfolio-panel">
                    <div class="inner"></div>
                    <ul id="examplesList">

                        <!-- Underscore template begin -->
                        <script id='template-example' type='text/template'>
                            <% var exId = exampledata.name, exTitle = exampledata.info.name, exURL = exampledata.info.url;%>
                            <li id="<%= exId %>" class="<%= exId %> example">
                                <div>
                                    <div class="img">
                                        <div class="inner">
                                            <% if(exampledata.images.length > 0){ %>
                                            <a class="inspect" title="take a closer look"><i class="icon-inspect"></i></a>
                                            <% } %>
                                            <a class="info" title="more information"><i class="icon-info"></i></a>
                                            <% if(exURL != "") { %>
                                            <a class="visit" href="<%= exURL %>" target="_blank" title="visit site"><i class="icon-external-link"></i></a>
                                            <% } %>
                                        </div>
                                        <div class="inspect-popup popup">
                                            <h2>Inspect</h2>
                                            <% var noOfImg = exampledata.images.length; if(noOfImg > 0){%>

                                            <ul>
                                                <% var count; for( count = 0; count <  noOfImg; count++){%>
                                                <li>
                                                    <img src="assets/images/<%= exampledata.images[count] %>" />
                                                </li>
                                                <% } %>
                                            </ul>

                                            <% } %>
                                        </div>
                                        <div class="info-popup popup">
                                            <a class="closeInfo" title="Close"><i class="icon icon-remove-sign"></i></a>
                                            <h3><%= exampledata.info.name %></h3>
                                            <table>
                                                <% if(exampledata.info.date != ""){ %>
                                                <tr>
                                                    <th>Date:</th>
                                                    <td><%= exampledata.info.date %></td>
                                                </tr>
                                                <% } if(exampledata.info.url != ""){ %>
                                                <tr>
                                                    <th>URL:</th>
                                                    <td><a href="<%= exampledata.info.url %>" target="_blank"><%= exampledata.info.url %></a></td>
                                                </tr>
                                                <% } if(exampledata.info.description != ""){ %>
                                                <tr>
                                                    <th>Description:</th>
                                                    <td><%= exampledata.info.description %></td>
                                                </tr>
                                                <% } if(exampledata.info["working for"] != ""){ %>
                                                <tr>
                                                    <th>While working for:</th>
                                                    <td><%= exampledata.info["working for"] %></td>
                                                </tr>
                                                <% } if(exampledata.info["front end technologies used"] != ""){ %>
                                                <tr>
                                                    <th>Front end technologies used:</th>
                                                    <td><%= exampledata.info["front end technologies used"] %></td>
                                                </tr>
                                                <% } if(exampledata.info["back end technologies used"] != ""){ %>
                                                <tr>
                                                    <th>Back end technologies used:</th>
                                                    <td><%= exampledata.info["back end technologies used"] %></td>
                                                </tr>
                                                <% } if(exampledata.info.CMS != ""){ %>
                                                <tr>
                                                    <th>CMS:</th>
                                                    <td><%= exampledata.info.CMS %></td>
                                                </tr>
                                                <% } if(exampledata.info["additional information"] != ""){ %>
                                                <tr>
                                                    <th>Additional information:</th>
                                                    <td><%= exampledata.info["additional information"] %></td>
                                                </tr>
                                                <% } if(exampledata.info["free text"] != ""){ %>
                                                <tr>
                                                    <th>Free text:</th>
                                                    <td><%= exampledata.info["free text"] %></td>
                                                </tr>
                                                <% } %>
                                            </table>
                                        </div>
                                    </div>
                                    <a class="text">
                                        <h3><%= exTitle %></h3>
                                    </a>
                                </div>
                            </li>
                        </script>
                        <!-- Underscore template end -->

                    </ul>
                </div>
            </section>
            <section id="social-links">
                <ul>
                    <li>
                        <a href="https://twitter.com/Mike_Speight" target="_blank" title="View my Twitter profile" class="twitter"><h4>Twitter</h4>
                            <span><i class="icon-social icon-twitter"></i></span></a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/mike.speight.14" target="_blank" title="View my Facebook profile" class="facebook"><h4>facebook</h4>
                            <span><i class="icon-social icon-facebook"></i></span></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/mikespeight/" target="_blank" title="View my Linkedin profile" class="linkedin"><h4>linkedin</h4>
                            <span><i class="icon-social icon-linkedin"></i></span></a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/u/0/+MikeSpeight" target="_blank" title="View my Google+ profile" class="google-plus"><h4>google plus</h4>
                            <span><i class="icon-social icon-google-plus"></i></span></a>
                    </li>

                    <li>
                        <a href="mailto:info@mike-speight.co.uk?subject=enquiry from portfolio" class="mail"><h4>mail</h4>
                            <span><i class="icon-social icon-envelope"></i></span></a>
                    </li>
                </ul>
            </section>
            <footer>
                <p>Mike Speight's - <span>On-line Portfolio</span> - &copy; 2014 mike-speight.co.uk</p>
            </footer>
        </section>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-8402917-5', 'mike-speight.co.uk');
        ga('send', 'pageview');

    </script>

    <div id="dialogs">

        <div id="infoDiag">
        </div>

        <div id="sliderDiag" class="sliderDiag">
            <a class="closeSlider" title="Close"><i class="icon icon-remove-sign"></i></a>
            <div  class="flexslider">
                <ul class="slides">

                </ul>
            </div>
        </div>

    </div>

</body>
</html>