/*************************************************
    
    =Layout Styles Begin
    
**************************************************/


#page-wrapper {
  width: 100%;
}

#top-menu-bar {
  width: 100%;
  background-color: $dk-orange-bg;
  position: relative;
  z-index: 3;
  nav {
    width:100%;
    height:85px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .logo {
      display: inline-block;
      position: absolute;
      color:$dk-txt;
      top: 23px;
      left: 20px;
      width:47px;
      height:38px;
      font-family: $open-sans-light;
      font-size: 12px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 12px;
      text-decoration: none;
      span {
        display:block;
      }
      .first {
        letter-spacing: 5px;
      }
      .second {
        letter-spacing: 1px;
        color: $wht-txt;
      }
      .third {
        letter-spacing: 3px;
      }
    }
    .main-nav {
      position: absolute;
      top:35px;
      right:20px;
      list-style: none;
      li {
        display: inline-block;
        margin-left: 20px;
        a {
          color:$dk-txt;
          font-family: $open-sans-light;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 1.5;
          text-align: center;
          text-decoration: none;
        }
        a:hover {
          color: $wht-txt;
        }
      }
    }
  }
}

html.os-iPad #fixed-menu nav .logo {
  border:2px solid red;
}

#fixed-menu {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 2;
  background-color: $white;
  nav {
    width:100%;
    height:85px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .logo {
      display: inline-block;
      position: absolute;
      color:$dk-txt;
      top: 23px;
      left: 20px;
      width:47px;
      height:38px;
      font-family: $open-sans-light;
      font-size: 12px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 12px;
      text-decoration: none;
      span {
        display:block;
      }
      .first {
        letter-spacing: 5px;
      }
      .second {
        letter-spacing: 1px;
        color:$dk-orange;
      }
      .third {
        letter-spacing: 3px;
      }
    }
    #menu-switch {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      display: none;
      cursor: pointer;
      i {
        cursor: pointer;
      }
    }
    #menu-switch:hover {
       i {
         color: $dk-orange;
       }
    }
    .main-nav {
      position: absolute;
      top: 35px;
      right: 20px;
      list-style: none;
      li {
        display: inline-block;
        margin-left: 20px;
        a {
          color:$dk-txt;
          font-family: $open-sans-light;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 1.5;
          text-align: center;
          text-decoration: none;
        }
        a:hover {
          color: $dk-orange;
        }
      }
    }
    .mobile-nav {
      clear: both;
      li {
        display: block;
        /*margin-left: 20px;*/
        padding: 2px 0 0 20px;
        border-bottom: 1px solid $lt-gray;
        a {
          color:$dk-txt;
          font-family: $open-sans-light;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 1.5;
          text-align: center;
          text-decoration: none;
        }
        a:hover {
          color: $dk-orange;
        }
      }
      li:last-child {
        margin-bottom: 2px;
      }
    }
  }
}

#mobile {
  display: none;
}

#hero {
  width: 100%;
  position: relative;
  .inner {
    margin: 0 auto;
    width:100%;
    height:560px;
    background: transparent url("../assets/images/orange-pattern.png") 0 0 repeat;
    position: relative;
  }
}
.cycled {
  list-style: none;
  li {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}

.cycled li div h2 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: $open-sans-light;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 100px;
  i {
    color: $dk-orange-bg;
    font-style: normal;
  }
}

#technologies {
  width:100%;
  margin:75px auto 0;
  h3 {
    text-transform: uppercase;
    font-family: $open-sans-light;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin:20px 0;
  }
  p {
    margin:20px 0;
    font-size: 12px;
  }
}

#technology-panel {
  position: relative;
  width: 100%;
  height:280px;
  background: url("../assets/images/technologies-bg.jpg") 0 0 repeat-y;
  background-size: 100%;
  margin-top:75px;
  .inner {
    height: 100%;
    background-color: #000;
    opacity: 0.60;
  }
  .inner:after {
    background: transparent url("../assets/images/orange-pattern.png") 0 0 repeat;
    content:" ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  ul{
    width:100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    li {
      height:100%;
      width:33%;
      float:left;
      h4 {
        color:$white;
        font-family: $open-sans-light;
        font-weight: bold;
        font-size: 24px;
        margin-top: 10px;
      }
    }
    li.html {
      background: url("../assets/images/HTML5.png") 50% 50% no-repeat;
    }
    li.js {
      background: url("../assets/images/js.png") 50% 50% no-repeat;
    }
    li.css {
      background: url("../assets/images/CSS3.png") 50% 50% no-repeat;
    }
  }
}

#social-links {
  width:100%;
  margin:20px auto;
  text-align: center;
  ul {
    width:100%;
    text-align: center;
    overflow: hidden;
    li {
      float:left;
      width:20%;
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $open-sans-light;
        color:#333;
        span {
          display: inline-block;
          width:34px;
          height:34px;
          background-color: transparent;
        }
        h4 {
          color: $white;
        }
      }
      a:hover {
        span {
          i {
            color:$dk-orange;
          }
        }
        h4 {
          color:#333333;
        }
      }
    }
  }
}

#container {
  text-align: center;
  a {
    color: $dk-orange;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  footer {
    background-color: $dk-orange-bg;
    height:60px;
    margin-top: 30px;
    p{
      line-height: 60px;
      font-family: $open-sans-light;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 12px;
      span {
        color: $white;
        font-size: 14px;
      }
    }
  }
}

/* Portfolio page styles */

#portfolio {
  margin: 0 auto;
  width:100%;
  //padding: 30px 10px;
  h2 {
    margin: 20px 0;
  }
  p {
    margin: 20px 0;
    font-size: 12px;
  }
}

#portfolio-panel {
  ul {
    overflow: hidden;
    width: 960px;
    margin: 20px auto;
    li {
      float: left;
      width: 320px;
      height: 330px;
      .img {
        width:100%;
        height:220px;
        background-color: beige;
      }
      a.text {
        display: block;
        height:70px;
        background-color: $white;
        font-family: OpenSans-Light;
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        padding-top:40px;
        h3 {
          font-family: OpenSans-Light;
          font-size: 14px;
          text-align: center;
        }
      }
    }
    li:hover a.text {
      background-color:$dk-orange;
      color: $white;
    }
  }
}

li {
  div.img{
    .popup {
      display: none;
    }
    .inner {
      display: none;
      text-align: left;
      padding: 5px;
      a{
        cursor: pointer;
        display: block;
        width:25px;
        float: left;
      }
      a:hover {
        text-decoration: none;
        i {
          text-decoration: none;
        }
      }
      a.inspect {
        float: left
      }
      a.info {
        margin-left: 10px;
      }
      a.visit {
        float:right;
      }
      i {
        padding: 5px;
      }
      i.external-link {
        margin-right: 5px;
      }
    }
  }
  div:hover.img {
    .inner {
      display: block;
      background-color: rgba(0, 0, 0, .50);
      height: 100%;
    }
  }
}

div.ui-dialog {
  position: relative;
  .sliderDiag {
    padding-top: 30px;
  }
  &.infoDialog,
  &.sliderDialog {
    .ui-dialog-titlebar {
      display: none;
    }
    background-color: $dk-bg;
    color: $dk-orange;
  }
  &.ui-widget-content {
    border: none;
    color: $dk-orange;
  }
  .ui-dialog-content {
    overflow: hidden;
  }
}

div.ui-widget-content {
  color: $white;
  padding: 10px;
  a.closeInfo,
  a.closeSlider {
    color: $dk-orange;
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right:-6px;
    cursor: pointer;
    i {
      font-family: fontawesome;
      font-size: 24px;
      font-style: normal;
    }
  }
  h3 {
    font-weight: bold;
    font-size: $large-text;
  }
  table {
    width: 100%;
    th,
    td {
      padding:5px;
      vertical-align: top;
      color:$white;
    }
    th {
      border-right: 1px solid $dk-orange;
      border-bottom: 1px solid $dk-orange;
      width: 30%;
    }
    td {
      border-bottom: 1px solid $dk-orange;
      a {
        color: $white;
        text-decoration: none;
      }
      a:hover {
        color: $dk-orange-txt;
        text-decoration: underline;
      }
      ol {
        list-style-type: decimal;
        list-style-position: outside;
        margin-left: 20px;
        li {
          padding-left: 10px;
        }
      }
      span {
        display: inline-block;
      }
    }
    tr:last-child {
      th,td {
        border-bottom: none;
      }
    }
  }
}

div#dialogs {
  display: none;
}
li.mtivity .img {
  background: transparent url("../assets/images/mtivity-bw-thumb.jpg") 0 0 no-repeat; }

li:hover.mtivity .img {
  background: transparent url("../assets/images/mtivity-thumb.jpg") 0 0 no-repeat; }

li.boc .img {
  background: transparent url("../assets/images/boc-bw-thumb.jpg") 0 0 no-repeat; }

li:hover.boc .img {
  background: transparent url("../assets/images/boc-thumb.jpg") 0 0 no-repeat; }

li.weddings .img {
  background: transparent url("../assets/images/weddings-bw-thumb.jpg") 0 0 no-repeat; }

li:hover.weddings .img {
  background: transparent url("../assets/images/weddings-thumb.jpg") 0 0 no-repeat; }

li.elp .img {
  background: transparent url("../assets/images/elp-bw-thumb.jpg") 0 0 no-repeat; }

li:hover.elp .img {
  background: transparent url("../assets/images/elp-thumb.jpg") 0 0 no-repeat; }

li.wetlands .img {
  background: transparent url("../assets/images/wetlands-bw-thumb.jpg") 0 0 no-repeat; }

li:hover.wetlands .img {
  background: transparent url("../assets/images/wetlands-thumb.jpg") 0 0 no-repeat; }

li.ford .img {
  background: transparent url("../assets/images/ford-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.ford .img {
  background: transparent url("../assets/images/ford-thumb.jpg") 0 0 no-repeat;
}

li.telegraph .img {
  background: transparent url("../assets/images/telegraph-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.telegraph .img {
  background: transparent url("../assets/images/telegraph-thumb.jpg") 0 0 no-repeat;
}

li.lbc .img {
  background: transparent url("../assets/images/lbc-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.lbc .img {
  background: transparent url("../assets/images/lbc-thumb.jpg") 0 0 no-repeat;
}

li.bidonthis .img {
  background: transparent url("../assets/images/bidonthis-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.bidonthis .img {
  background: transparent url("../assets/images/bidonthis-thumb.jpg") 0 0 no-repeat;
}

li.market .img {
  background: transparent url("../assets/images/market-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.market .img {
  background: transparent url("../assets/images/market-thumb.jpg") 0 0 no-repeat;
}

li.Hotels4u .img {
  background: transparent url("../assets/images/Hotels4u-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.Hotels4u .img {
  background: transparent url("../assets/images/Hotels4u-thumb.jpg") 0 0 no-repeat;
}

li.pearson .img {
  background: transparent url("../assets/images/pearson-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.pearson .img {
  background: transparent url("../assets/images/pearson-thumb.jpg") 0 0 no-repeat;
}

li.loreal .img {
  background: transparent url("../assets/images/loreal-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.loreal .img {
  background: transparent url("../assets/images/loreal-thumb.jpg") 0 0 no-repeat;
}

li.sportlabs .img {
  background: transparent url("../assets/images/sportlabs-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.sportlabs .img {
  background: transparent url("../assets/images/sportlabs-thumb.jpg") 0 0 no-repeat;
}

li.rafclub .img {
  background: transparent url("../assets/images/raf-club-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.rafclub .img {
  background: transparent url("../assets/images/raf-club-thumb.jpg") 0 0 no-repeat;
}

li.thorntons .img {
  background: transparent url("../assets/images/thorntons-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.thorntons .img {
  background: transparent url("../assets/images/thorntons-thumb.jpg") 0 0 no-repeat;
}

li.tesco .img {
  background: transparent url("../assets/images/tesco-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.tesco .img {
  background: transparent url("../assets/images/tesco-thumb.jpg") 0 0 no-repeat;
}

li.hhGlobal .img {
   background: transparent url("../assets/images/hhglobal-bw-thumb.jpg") 0 0 no-repeat;
 }
li:hover.hhGlobal .img {
  background: transparent url("../assets/images/hhglobal-thumb.jpg") 0 0 no-repeat;
}

li.asos .img {
  background: transparent url("../assets/images/asos-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.asos .img {
  background: transparent url("../assets/images/asos-thumb.jpg") 0 0 no-repeat;
}

li.mwmw .img {
  background: transparent url("../assets/images/mwmw-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.mwmw .img {
  background: transparent url("../assets/images/mwmw-thumb.jpg") 0 0 no-repeat;
}

li.macmillan .img {
  background: transparent url("../assets/images/macmillan-bw-thumb.jpg") 0 0 no-repeat;
}
li:hover.macmillan .img {
  background: transparent url("../assets/images/macmillan-thumb.jpg") 0 0 no-repeat;
}

/* About page styles */

#aboutContent {
  text-align: left;
  width:100%;
  margin:75px auto 0;
  padding: 0 20px;
  h3{
    text-transform: uppercase;
    font-family: $open-sans-light;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin:20px 0;
  }
  h4 {
    font-size: 18px;;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -15px;
  }
  p {
    margin:20px 0;
    font-size: 12px;
  }
  .two-col {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
  }
}

/* Contact page styles */
#contactContent {
  text-align: left;
  width:100%;
  margin:75px auto 0;
  h3{
    text-transform: uppercase;
    font-family: $open-sans-light;
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    margin:20px 0;
    padding: 0 20px;
  }
  h4 {
    font-size: 18px;
    padding: 0 20px;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -15px;
    padding: 0 20px;
  }
  p {
    margin:20px 0;
    font-size: 12px;
    padding: 0 20px;
  }
  .two-col {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    padding: 0 20px;
  }
}

#contactForm {
  padding: 0 20px;
  .form-row {
    margin: 20px 0;
    clear: left;
    width: 100%;
    label {
      display: none;
      padding: 3px 0;
    }
    input {
      padding: 5px;
      font-family: OpenSans-Light;
      font-size: $body-text;
      @include border-radius (5px);
      @include box-shadow (3px, 0.5);
      width:75%;
      border: 1px solid $lt-gray;
    }
    textarea {
      padding: 5px;
      font-family: OpenSans-Light;
      font-size: $body-text;
      @include border-radius (5px);
      @include box-shadow (3px, 0.5);
      width:75%;
      border: 1px solid $lt-gray;
    }
    ul.checkboxGroup {
      clear: left;
      overflow: hidden;
      width: 75%;
      li {
        width: 50%;
        float: left;
        label {
          display: inline-block;
          width: 75%;
        }
        input[type="radio"] {
          width: auto;
          margin-right: 10px;
          box-shadow: none;
        }
      }
    }
  }

}

ul {

  .captcha-row {

    #txtCaptchaDiv {
      padding: 5px 20px;
      font-family: OpenSans-Light;
      @include border-radius (5px);
      @include box-shadow (3px, 0.5);
      border: 1px solid $lt-gray;
      background: #fff;
      font-size: 1.5rem;
      font-style: italic;
      text-decoration: line-through;
      color: #cd0a0a;
      background: $vlt-orange-bg;
      display: inline-block;
    }

    label {
      margin: 10px 0;
      display: inline-block;
    }
  }

  .button-row {
    margin: 20px 0;
    button {
      @include border-radius (5px);
      @include top-down-grad ($lt-orange-bg, $dk-orange-bg);
      @include box-shadow (3px, 0.5);
      @include grad-border ($dk-orange-bg, $dk-orange-bg, $dk-orange-bg);
      text-shadow: 1px 1px 1px $mid-gray;
      padding:10px;
      color: $wht-txt;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      @include top-down-grad ($dk-orange-bg, $lt-orange-bg);
    }
  }
}

/* success styles */

#download {
  a {
    font-size: $large-text;
    display: inline-block;
    color: $dk-txt;
    height: 32px;
    line-height: 32px;
    padding-right: 40px;
    margin-bottom: 10px;
    &.pdf {
      background: transparent url("../assets/images/PDF-Icon-32.png") 100% 0 no-repeat;
    }
    &.doc {
      background: transparent url("../assets/images/Word-2013-Icon-32.png") 100% 0 no-repeat;
    }
  }
  a:hover {
    color: $dk-orange;
  }
}
