// Media Queries in Sass 3.2
//
// These mixins make media queries a breeze with Sass.
// The media queries from mobile up until desktop all
// trigger at different points along the way
//
// And important point to remember is that and width
// over the portrait width is considered to be part of the
// landscape width. This allows us to capture widths of devices
// that might not fit the dimensions exactly. This means the break
// points are seamless.

$mq-mobile-portrait		: 320px !default;
$mq-mobile-landscape	: 480px !default;
$mq-tablet-portrait		: 768px !default;
$mq-tablet-landscape	: 1024px !default;
$mq-desktop				: 1382px !default;
$mq-iPhone-6-portrait   : 375px  !default;
$mq-iPhone-6-landscape  : 667px  !default;
$mq-iPhone-6p-portrait   : 414px  !default;
$mq-iPhone-6p-landscape  : 736px  !default;

// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// iPhon6
@mixin iPhone6-portrait-only {
  @media (max-width : $mq-iPhone-6-portrait) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-only {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}
@mixin retina2 {
  @media only screen and (-webkit-min-device-pixel-ratio : 2), only screen and (min-device-pixel-ratio : 2) {
    @content;
  }
}


/**
*
*  Initiate media queries
*
**/

#page-wrapper {
  @include tablet-landscape-only {
    width: $mq-tablet-landscape;
  }

  @include tablet-landscape-and-below {
    // set up for devices that do not have a hover state
    #portfolio-panel {
      ul {
        li {
          a {
            &.text {
              background-color:$dk-orange!important;
              color: $white!important;
              height: 68px;
            }
          }
        }
      }
    }

    li {
      div {
        &.inner {
          display: block;
          height: 12%;
          background-color: rgba(0, 0, 0, .50);
        }
      }
    }
    li.loreal .img {
      background: transparent url("../assets/images/loreal-thumb.jpg") 0 0 no-repeat;
    }

    li.sportlabs .img {
      background: transparent url("../assets/images/sportlabs-thumb.jpg") 0 0 no-repeat;
    }

    li.rafclub .img {
      background: transparent url("../assets/images/raf-club-thumb.jpg") 0 0 no-repeat;
    }

    li.thorntons .img {
      background: transparent url("../assets/images/thorntons-thumb.jpg") 0 0 no-repeat;
    }

    li.tesco .img {
      background: transparent url("../assets/images/tesco-thumb.jpg") 0 0 no-repeat;
    }

    li.hhGlobal .img {
      background: transparent url("../assets/images/hhglobal-thumb.jpg") 0 0 no-repeat;
    }

    li.asos .img {
      background: transparent url("../assets/images/asos-thumb.jpg") 0 0 no-repeat;
    }

    li.mwmw .img {
      background: transparent url("../assets/images/mwmw-thumb.jpg") 0 0 no-repeat;
    }

    li.macmillan .img {
      background: transparent url("../assets/images/macmillan-thumb.jpg") 0 0 no-repeat;
    }

    #aboutContent {
      padding: 0 20px;
    }

    #portfolio,
    #aboutContent,
    #contactContent {
      width: auto;
    }

  }

  @include tablet-portrait-only {
    width: $mq-tablet-portrait;
    #hero {
      height: 448px;
      .inner {
        height: 448px;
      }
    }
    #portfolio-panel {
      ul {
        width: 640px;
      }
    }

  }

  @include tablet-portrait-and-below {
    #top-menu-bar {
      visibility: hidden;
    }
    #fixed-menu {

      nav {
        #menu-switch {
          display: block;
        }
        .main-nav {
          display: none;
        }
        .mobile-nav {
          li {
            a {
              font-size: 24px;
            }
          }
        }
      }
    }
    #contactContent {
      padding: 0 20px ;
    }

    #aboutContent {
      h3,h4,h5 {
        padding: 0 20px;
      }
      .two-col {
        -moz-column-count: 1;
        //-moz-column-gap: 20px;
        -webkit-column-count: 1;
        //-webkit-column-gap: 20px;
        padding: 0 20px;
      }
    }
  }

  @include mobile-landscape-only {
    width: $mq-mobile-landscape;
    /*#hero {
    height: 280px;
      .inner {
        height: 280px;
        h2 {
          font-size: 36px;
          line-height: 48px;
        }
      }
    }*/
    #portfolio-panel {
      ul {
        width: 320px;
      }
    }
  }

  @include mobile-portrait-only {
    width: $mq-mobile-portrait;
    #hero {
      height: 187px;
      .inner {
        height: 187px;
        h2 {
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
    #technologies {
      margin-top: 25px ;
      h3 {
        font-size: 18px;
      }
      p {
        margin: 20px;
      }
      #technology-panel {
        height: 715px;
        ul {
          li {
            float: none;
            margin: 20px auto;
            height: 210px;
            background-position: 50% 40px;
          }
        }
      }
    }
    #social-links {
      ul {
        text-align: center;
        li {
          float: none;
          display: inline-block;
          width: 100px;
        }
      }
    }
    #portfolio {
      padding-left: 0;
      padding-right: 0;
    }
    #portfolio-panel {
      ul {
        width: 320px;
      }
    }
    footer {
      height: 100%;
      p {
        padding: 0 20px;
        line-height: 24px;
      }
    }
    // start of retina display styles
/*    @include retina {
      width: 640px;
      color:red;
    }*/
  }

 /* @include iPhone6-portrait-only {
    width: $mq-iPhone-6-portrait;

    }*/
}

/* Only iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/*  #page-wrapper {
    width: 320px;
  }
  div#hero {
    .inner {
      height: 560px;
    }
  }
  #top-menu-bar {
    visibility: hidden;
  }
  #fixed-menu {
    nav {
      #menu-switch {
        display: block;
      }
      .main-nav {
        display: none;
      }
      .mobile-nav {
        li {
          a {
            font-size: 24px;
          }
        }
      }
    }
  }
  #technologies h3 {
    font-size: 16px;
  }
  .cycled li div h2 {
    font-size: 24px;
    line-height: 48px;
    top:30px;
  }*/
}
