/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (max-width: 480px) { /* line 12, scss/old-media-queries.scss */
  #page-wrapper { width: 480px; }
  /* line 15, scss/old-media-queries.scss */
  #top-menu-bar { visibility: hidden; }
  /* line 20, scss/old-media-queries.scss */
  #fixed-menu nav #menu-switch { display: block; }
  /* line 23, scss/old-media-queries.scss */
  #fixed-menu nav .main-nav { display: none; }
  /* line 29, scss/old-media-queries.scss */
  div#hero .inner { height: 280px!important; }
  /* line 33, scss/old-media-queries.scss */
  .cycled li div h2 { font-size: 24px!important; line-height: 48px!important; top: 30!important; } }
/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 640px) and (max-width: 767px) { /* Styles */
  /* line 44, scss/old-media-queries.scss */
  #page-wrapper { width: 640px; }
  /* line 47, scss/old-media-queries.scss */
  #top-menu-bar { visibility: hidden; }
  /* line 52, scss/old-media-queries.scss */
  #fixed-menu nav #menu-switch { display: block; }
  /* line 55, scss/old-media-queries.scss */
  #fixed-menu nav .main-nav { display: none; }
  /* line 61, scss/old-media-queries.scss */
  div#hero .inner { height: 373px!important; }
  /* line 64, scss/old-media-queries.scss */
  div#hero .cycled li div h2 { font-size: 24px!important; line-height: 48px!important; top: 30%!important; } }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (max-width: 1024px) { /* Styles */
  /* line 82, scss/old-media-queries.scss */
  #page-wrapper { width: 1024px; }
  /* line 86, scss/old-media-queries.scss */
  #hero .inner { height: 560px; }
  /* line 90, scss/old-media-queries.scss */
  #top-menu-bar { display: block; } }
/* iPads (portrait) ----------- */
@media only screen and (max-width: 768px) { /* Styles */
  /* line 99, scss/old-media-queries.scss */
  #page-wrapper { /*width: 768px!important; */ }
  /* line 103, scss/old-media-queries.scss */
  #hero .inner { /*height: 448px!important; */ } }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) { /* Styles */
  /* line 114, scss/old-media-queries.scss */
  #hero .inner { height: 100%; min-height: 560px!important; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) { /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { /* line 131, scss/old-media-queries.scss */
  #page-wrapper { width: 960px; }
  /* line 135, scss/old-media-queries.scss */
  div#hero .inner { height: 560px; }
  /* line 139, scss/old-media-queries.scss */
  #top-menu-bar { visibility: hidden; }
  /* line 144, scss/old-media-queries.scss */
  #fixed-menu nav #menu-switch { display: block; }
  /* line 147, scss/old-media-queries.scss */
  #fixed-menu nav .main-nav { display: none; }
  /* line 152, scss/old-media-queries.scss */
  #technologies h3 { font-size: 16px; }
  /* line 155, scss/old-media-queries.scss */
  .cycled li div h2 { font-size: 24px; line-height: 48px; top: 30; } }
