/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */

}

/* Smartphones (landscape) ----------- */
@media only screen
and (max-width : 480px) {
  #page-wrapper {
    width: 480px;
  }
  #top-menu-bar {
    visibility: hidden;
  }
  #fixed-menu {
    nav {
      #menu-switch {
        display: block;
      }
      .main-nav {
        display: none;
      }
    }
  }
  div#hero {
    .inner {
      height: 280px!important;
    }
  }
  .cycled li div h2 {
    font-size: 24px!important;
    line-height: 48px!important;
    top:30!important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 640px) and (max-width: 767px) {
  /* Styles */
  #page-wrapper {
    width: 640px;
  }
  #top-menu-bar {
    visibility: hidden;
  }
  #fixed-menu {
    nav {
      #menu-switch {
        display: block;
      }
      .main-nav {
        display: none;
      }
    }
  }
  div#hero {
    .inner {
      height: 373px!important;
    }
    .cycled li div h2 {
      font-size: 24px!important;
      line-height: 48px!important;
      top:30%!important;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1024px){
  /* Styles */
  #page-wrapper {
    width: 1024px;
  }
  #hero {
    .inner {
      height: 560px;
    }
  }
  #top-menu-bar {
    display: block;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (max-width : 768px) {
  /* Styles */
  #page-wrapper {
    /*width: 768px!important; */
  }
  #hero {
    .inner {
      /*height: 448px!important; */
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  /* Styles */
  #hero {
    .inner {
      height: 100%;
      min-height: 560px!important;
    }
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  #page-wrapper {
    width: 960px;
  }
  div#hero {
    .inner {
      height: 560px;
    }
  }
  #top-menu-bar {
    visibility: hidden;
  }
  #fixed-menu {
    nav {
      #menu-switch {
        display: block;
      }
      .main-nav {
        display: none;
      }
    }
  }
  #technologies h3 {
    font-size: 16px;
  }
  .cycled li div h2 {
    font-size: 24px;
    line-height: 48px;
    top:30;
  }
}